@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Lab 5 - Static Content, Migrations, and File Uploads! </h1>
    <p>My name is Frederic Bridy, my Student ID is 040902089. Feel free to browse!</p>
</div>
